tensorflow
pandas
numpy
matplotlib
scikit-learn
seaborn
notebook
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
scipy
-e . 
# this is for local package installation for this we need setup.py
# it will look into setup.py and install local package
